Repository MJU-Coin/22-S-React, pull requests merged in 2022-08, with the labels that each got.

#150 [4W-RBF] Team민수 ㅣ Section 6 ~ 10
  4-week/team_minsu/README.md
Labels: Team-minsu, RBF

#129 [4W3D] 처음 만나는 리액트 Section 12~14
  4-week/team_jieun/4week-3-hyunjin.md
Labels: 정기학습, Team-jieun

#127 [4W3D]처음 만나는 리액트 Section 12~14
  4-week/team_youbin/4-week-박수환.md
Labels: 정기학습, Team-yubin

#139 [4W3D] 처음 만나는 리액트 ~ Section 12
  4-week/team_youbin/4-week-김예일.md
Labels: 정기학습, Team-yubin

#132 [4W3D] 처음 만나는 리액트 Section 08
  4-week/team_bokyeom/4-week-yehoon-3.md
Labels: 정기학습, Team-kbk

#144 [4W3D] 처음 만나는 리액트 Section 08
  4-week/team_bokyeom/4-week-yujin-3.md
Labels: 정기학습, Team-kbk

#134 [4W3D] 처음 만나는 리액트 Section 10 ~ 12
  4-week/team_youbin/4-week-이주석-2.md
Labels: 정기학습, Team-yubin

#131 [4W3D] 처음 만나는 리액트 Section 7
  4-week/team_minsu/Sangyeon.md
Labels: 정기학습, Team-minsu

#145 [4W3D] 처음 만나는 리액트 Section 08
  4-week/team_bokyeom/4-week-soyun-3.md
Labels: 정기학습, Team-kbk

#142 [4W3D]처음만나는 리액트 section 7,8
  4-week/team_minsu/Jaehyean-4-week.md
Labels: 정기학습, Team-minsu

#133 [4W3D] 처음 만나는 리액트 Section 08
  4-week/team_minsu/JinseoHong4.md
Labels: 정기학습, Team-minsu

#157 [4W3D] 처음 만나는 리액트 Section 08
  4-week/team_bokyeom/4-week-youkyeong-3.md
Labels: 정기학습, Team-kbk

#151 [4W-RBF] Team유빈 Section 7~14
  4-week/team_youbin/README.md
Labels: Team-yubin, RBF
